* {
    box-sizing: border-box;
}

html {
    text-align: center;
    background: url("../images/stadium.png") no-repeat center center fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

.character {
    width: 200px;
    position: relative;
    margin: 0 10px;
    display: inline-block;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    text-shadow: 2px 2px black;
    animation-duration: 1s;
}

.character img {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

#logo {
    max-width: 200px;
}