* {
    box-sizing: border-box;
}

html {
    text-align: center;
    background: url("../images/stadium.png") no-repeat center center fixed;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    text-shadow: 2px 2px black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

header {
    margin: .5rem 0;
}

.character {
    width: 200px;
    position: relative;
    padding: 10px 0px;
    margin: 0 10px;
    display: inline-block;
    animation-duration: 1s;
    border-radius: 10px;
}

.selectable:hover {
    background-color: rgba(240, 248, 255, 0.473);
}

.character img {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.player h1 {
    color: limegreen;
}

#logo {
    max-width: 200px;
}